/* hack to fix minor bug in fezvrasta:bootstrap-material-design
   see: https://github.com/FezVrasta/bootstrap-material-design/issues/394
*/
.btn-default:not(.btn-link):not(.btn-flat) {
  color: black;
}

.break-word {
  word-wrap: break-word;
}

.flip-clock-wrapper {
  margin: 0;
}

* {
  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  -o-transition:      all 0.5s ease;
}
