<template name='header'>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class='container'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href='{{pathFor "home"}}'>Most Exclusive Website (ever)</a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
          <li class='{{isActiveRoute regex="home"}}'><a href='{{pathFor "home"}}'>Home</a></li>
          <li class='{{isActiveRoute regex="about"}}'><a href='{{pathFor "about"}}'>About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>
