<template name='home'>
  <h1 class='text-center'>Most Exclusive Website<br><small>One visitor at a time, every sixty seconds. Get your ticket.</small></h1>
  <hr>
  <div class='row'>
    <div class='col-sm-12'>
      <p class='h4 text-center'>Next ticket</p>
      <div class='center-block' style='width:300px;'>
        <div class='countdown-clock'></div>
      </div>
      {{#if $eq lineLength 1}}
        <p class='h2 text-center'>Currently serving ticket <b>#{{this.queueMeta.currentlyServingTicketNumber}}</b> with <b>{{lineLength}}</b> person in line.</p>
      {{else}}
        <p class='h2 text-center'>Currently serving ticket <b>#{{this.queueMeta.currentlyServingTicketNumber}}</b> with <b>{{lineLength}}</b> people in line.</p>
      {{/if}}
    </div>
  </div>
  <div class='row'>
    {{#if queueEntry}}
      <div class='col-sm-12 col-md-6 col-md-offset-3'>
        {{#if isBeingServed}}
          <p class='h2 text-center'>You're in until {{> dateUTC value=this.queueMeta.timeCurrentTicketExpires format='h:mm:ss A'}}.</p>
          {{#if hasPosted}}
            <p class='text-center'>Thanks for posting, your prize is below.<br>Please enjoy your remaining moments of exclusivity.</p>
            <img src={{gifUrl}} alt='cat gif prize' style='width:100%'><img>
          {{else}}
            Post a message and receive a prize.
            {{#autoForm id='postForm' schema=postFormSchema type='method' meteormethod='postMessage' }}
              {{> afQuickField name='message' label-class="sr-only" afFieldInput-placeholder="schemaLabel" }}
              <button type='submit' style='width: 100%' class='btn btn-lg btn-info'>Post</button>
            {{/autoForm}}
          {{/if}}
        {{else}}
          <p class='text-center'>You are currently in line. Your ticket number is <b>#{{queueEntry.ticketNumber}}</b>.</p>
        {{/if}}
      </div>
    {{else}}
      <div class='col-sm-12 col-md-6 col-md-offset-3'>
        {{#autoForm id='getInLine' schema=nameSchema type='method' meteormethod='getInQueue'}}
          {{> afQuickField name='name' label-class="sr-only" afFieldInput-placeholder="schemaLabel" }}
          <button type='submit' class='btn btn-lg btn-info btn-raised' style='width: 100%'>Take ticket #{{this.queueMeta.nextTicketNumber}}</button>
        {{/autoForm}}
      </div>
    {{/if}}
  </div>
  <hr>
  <p class='h2 text-center'>Recent Posts</p>
  {{#each posts}}
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <p class='h3 break-word'><b>{{name}}</b> <span class='small'>{{> dateUTC value=timeCreated format='MMM Do h:mm:ss A'}}</span></p>
      </div>
      <div class='panel-body'>
        <p class='h4 break-word'>{{message}}</p>
      </div>
    </div>
  {{/each}}
</template>
