<template name='home'>
  {{#if isBeingServed}}
    <h1 class='text-center'>Most Exclusive Website<br><small>It's all yours, relish in the glory of exclusivity.</small></h1>
  {{else}}
    <h1 class='text-center'>Most Exclusive Website<br><small>One visitor at a time, every sixty seconds. Get your ticket.</small></h1>
    <hr>
  {{/if}}
  <div class='row'>
    <div class='col-sm-12'>
      <p class='h4 text-center'>Next Ticket</p>
      <div class='center-block' style='width:300px;'>
        <div class='countdown-clock'></div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      {{#if $eq lineLength 1}}
        <p class='h2 text-center'>Currently serving ticket <b>#{{this.queueMeta.currentlyServingTicketNumber}}</b> with <b>{{lineLength}}</b> person in line.</p>
      {{else}}
        <p class='h2 text-center'>Currently serving ticket <b>#{{this.queueMeta.currentlyServingTicketNumber}}</b> with <b>{{lineLength}}</b> people in line.</p>
      {{/if}}
    </div>
  </div>
  {{#if isBeingServed}}
    {{> in}}
  {{else}}
    {{> waiting}}
  {{/if}}
  <div class='row'>
    <div class='col-sm-12'>
      <p class='h4 text-center'><b>{{totalWaitTime}}</b> spent waiting to be exclusive.</p>
      <p class='h4 text-center'>Average wait time is <b>{{averageWaitTime}}</b>.</p>
    </div>
  </div>
</template>
