<template name='post'>
  <div class='ui inverted vertical segment'>
    <div class="event">
      <div class="content">
        <div class="summary">
          <a class="user">
            {{name}}
          </a>
          <div class="date">
            {{> dateUTC value=timeCreated format='MMM Do h:mm:ss A'}}
          </div>
        </div>
        <div class="extra text">
          {{message}}
        </div>
        {{#if link}}
        <div class="extra text">
          <a href='{{link}}' target='_blank'>{{link}}</a>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
