<template name='about'>
  <div class='row'>
    <div class='col-sm-12'>
      <p class='h4 text-center'><b>{{totalWaitTimeMinutes}}</b> were spent waiting to be exclusive...that's <b>{{totalWaitTimeYears}}</b></p>
      <p class='h4 text-center'>Created by <b><a href='https://www.linkedin.com/in/jfols' target='_blank'>Justin Foley</a></b> and <b><a href='http://modweb.io' target='_blank'>modweb.io</a></b> in Columbus, Ohio</p>
      <p class='text-center h4'>Tweet at me <b><a href='https://twitter.com/modwebio' target='_blank'>@modwebio</a></b> while you wait <b>#mostexclusive</b></p>
    </div>
  </div>
</template>
