<template name='ticketer'>
  <div class='ui inverted one column center aligned grid'>
    <div class='column'>
      <div class='ui inverted tiny two statistics'>
        <div class="statistic">
          <div class="value">
            {{lineLength}}
          </div>
          <div class="label">
            In Line
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{totalWaitTimeYears}}
          </div>
          <div class="label">
            Human Years Waited
          </div>
        </div>
      </div>
    </div>
    {{#if isBeingServed}}
    {{> in}}
    {{else}}
    {{> waiting}}
    {{/if}}
    <div class="ui inverted small one statistics">
      <div class="statistic">
        <div class="label">
          Now Serving
        </div>
        <div class="value">
          {{#if nameAllowedIn}}
          {{nameAllowedIn}} #{{currentlyServingTicketNumber}}
          {{else}}
          No one
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
