<template name='ticketer'>
  <div class='ui one column center aligned grid'>
    <div class='column'>
      {{#if $eq lineLength 1}}
        <div class='ui medium header'>Currently serving <b>{{nameAllowedIn}}</b> with ticket <b>#{{currentlyServingTicketNumber}}</b><br>There is <b>{{lineLength}}</b> person in line</div>
      {{else}}
        <div class='ui medium header'>Currently serving <b>{{nameAllowedIn}}</b> with ticket <b>#{{currentlyServingTicketNumber}}</b><br>There are <b>{{lineLength}}</b> people in line</div>
      {{/if}}
    </div>
    {{#if isBeingServed}}
      {{> in}}
    {{else}}
      {{> waiting}}
    {{/if}}
  </div>
</template>
