<template name='ticketer'>
  <div class='ui one column center aligned grid'>
    <div class='column'>
      <div class='ui tiny two statistics'>
        <div class="statistic">
          <div class="value">
            {{currentlyServingTicketNumber}}
          </div>
          <div class="label">
            Current Ticket
          </div>
        </div>
        <!--
        <div class="statistic">
          <div class="value">
            {{lineLength}}
          </div>
          <div class="label">
            In Line
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{totalWaitTimeMinutes}}
          </div>
          <div class="label">
            Minutes Waited
          </div>
        </div> -->
        <div class="statistic">
          <div class="value">
            {{ticketNumber}}
          </div>
          <div class="label">
            Your Ticket
          </div>
        </div>
      </div>
    </div>
    {{#if isBeingServed}}
      {{> in}}
    {{else}}
      <div class="ui small one statistics">
        <div class="statistic">
          <div class="value">
            {{#if nameAllowedIn}}
              {{nameAllowedIn}}
            {{else}}
              No one
            {{/if}}
          </div>
          <div class="label">
            Is feeling exclusive
          </div>
        </div>
      </div>
      {{> waiting}}
    {{/if}}
  </div>
</template>
