<template name='waiting'>
  <div class='ui one column center aligned grid'>
    {{#if queued}}
      <div class='column'>
        <div class='ui medium header'>
          You've got ticket <b>{{ticketNumber}}</b>
        </div>
      </div>
    {{else}}
      <div class='column'>
        {{#if isActive}}
          {{#autoForm id='getInLine' schema=nameSchema type='method' meteormethod='getInQueue'}}
            {{> afQuickField name='name' label=false defaultValue="Your name here" }}
            <button type='submit' class='ui purple button getInLine' style='width: 100%; height:64px; margin-top: 5px'>
              Get in line (ticket #{{nextTicketNumber}})
            </button>
          {{/autoForm}}
        {{else}}
          <div class='ui small header'>
            [You can't take a ticket right now, going down for maintenance once line the line goes to 0.]
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
  {{#if html}}
    <div class='column'>
      {{{html}}}
    </div>
  {{/if}}
</template>
